[submodule "Library.VC"]
	path = Library.VC
	url = https://github.com/nirvanaos/library.vc.git
[submodule "Core/Core"]
	path = Core/Core
	url = https://github.com/nirvanaos/core.git
[submodule "Port/Windows/Windows"]
	path = Port/Windows/Windows
	url = https://github.com/nirvanaos/windows.git
[submodule "dumpolf.vc"]
	path = dumpolf.vc
	url = https://github.com/nirvanaos/dumpolf.vc.git
[submodule "TestORB.vc"]
	path = TestORB.vc
	url = https://github.com/nirvanaos/TestORB.vc.git
